$img-placeholder-url: "https://source.unsplash.com/random";

$hero-background-url: "https://images.unsplash.com/photo-1523130668828-bf3d9af0634f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4708f4c027919b9d3c8fa103c66ffc41&auto=format&fit=crop&w=1500&q=80";
$card-bs-validation-url: "https://images.unsplash.com/photo-1520989739232-e32e849a8426?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1c1101b9284c2e52b4fe85ee585bd0e6&auto=format&fit=crop&w=668&q=80";
$card-csv-converter-url: "https://images.unsplash.com/photo-1539803829744-9fb9dc8c28e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6f17cd0af914071c30d475c65afe069&auto=format&fit=crop&w=800&q=80";

$giraffe-background-url: "https://images.unsplash.com/photo-1523805009345-7448845a9e53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c66791c2f0b07ab5dbff9d21aa37a32&auto=format&fit=crop&w=1504&q=80";
$elefant-background-url: "https://images.unsplash.com/photo-1521651201144-634f700b36ef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=11e83d71b84aec7e15917901c244d434&auto=format&fit=crop&w=1350&q=80";

$text-color: #374054;
$twitter-color: #1da1f2;
$linkedin-color: #0077b5;
$github-color: #333;

$success-color: rgba(64, 179, 84, 1);
$warning-color: rgba(255, 204, 0, 1);
$error-color: rgba(255, 59, 48, 1);
