@import "variables";

// Small devices (landscape phones, 575px and down)
@media (min-width: 575px) {
  .hidden-s {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 767px and down)
@media (min-width: 767px) {
  .hidden-m {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 991px and down)
@media (max-width: 991px) {
  .hidden-l {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1199px and down)
@media (max-width: 1199px) {
  .hidden-xl {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

#splash-img {
  background-image: url($hero-background-url);

  .hero-body {
    background: rgba(0, 0, 0, .4);
  }
}

.pageWrapper {
  padding-top: 60px;
}

#bs_validation_card .card-image {
  background-image: url($card-bs-validation-url);
}

#csv_converter_card .card-image {
  background-image: url($card-csv-converter-url);
}

#tt_card .card-image {
  background-image: url($card-tt-url);
}

#header {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 90px;
  -webkit-transition: background 0.4s ease, height 0.4s ease;
  transition: background 0.4s ease, height 0.4s ease;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -webkit-transition: all .3s;
  transition: all .3s;

  .header-brand {
    h6 {
      color: rgba(255, 255, 255, 1);
    }
  }

  .nav-item {
    a {
      color: rgba(255, 255, 255, 1);
    }

    &:hover {
      background: transparent;
    }

    span {
      background-color: transparent;
    }
  }

  &.header-fill {
    background-color: rgba(255, 255, 255, 1);
    height: 56px;
    box-shadow: 0 3px 15px rgba(57, 63, 72, .1);

    .header-brand {
      h6 {
        color: $text-color;
      }
    }

    .nav-item {
      a {
        color: $text-color;
      }

      span {
        background-color: transparent;
      }

      &:hover {
        background: rgba(50, 50, 50, .05);

        a {
          #twitter-icon {
            color: $twitter-color !important;
          }

          #github-icon {
            color: $github-color !important;
          }

          #linkedin-icon {
            color: $linkedin-color !important;
          }
        }
      }
      &.no-hover {
        background: transparent;
      }
    }
  }
}

footer {
  .fa-heart {
    margin: 0 6px;
    color: red;
  }
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

#signin-container {
  padding: 0;

  h6 {
    padding-left: 20px;
  }

  #background-container {
    height: 100vh;
    background: url($giraffe-background-url);
    -webkit-background-size: cover;
    background-size: cover;
  }

  .col-fluid {
    max-width: 375px;
    width: auto;
  }

  form {
    padding: 10px 20px 20px;

    label {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: white;
  z-index: 99;
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  -ms-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;

  &.open {
    overflow: hidden;
    height: 100vh;
  }

  .content {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    a {
      display: block;
      font-size: 24px;

      .icon {
        i {
          font-size: 24px;
          margin-top: -6px;
          margin-left: -18px;
        }
      }

      &:after {
        content: "";
        width: 100px;
        height: 10px;
        background: orange;
        top: -50%;
        left: 0;
        position: relative;
        display: inline-block;
      }
    }
  }
}

.btn-success {
  background: $success-color;
}

.bg-gradient-orange {
  background: rgb(255, 174, 39);
  background: -moz-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $orange), color-stop(100%, $red));
  background: -webkit-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: -o-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: -ms-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: linear-gradient(135deg, $orange 0%, $red 100%);
  color: white;
}

.bg-gradient-rose {
  background: rgb(222, 73, 109);
  background: -moz-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $red), color-stop(100%, $purple));
  background: -webkit-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: -o-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: -ms-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: linear-gradient(135deg, $red 0%, $purple 100%);
  color: white;
}

.bg-gradient-purple {
  background: rgb(171, 73, 222);
  background: -moz-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $purple), color-stop(100%, $blue));
  background: -webkit-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: -o-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: -ms-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: linear-gradient(135deg, $purple 0%, $blue 100%);
  color: white;
}

.bg-gradient-turquoise {
  background: rgb(73, 84, 222);
  background: -moz-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $blue), color-stop(100%, $turquoise));
  background: -webkit-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: -o-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: -ms-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: linear-gradient(135deg, $blue 0%, $turquoise 100%);
  color: white;
}

.bg-gradient-olive {
  background: rgb(73, 221, 216);
  background: -moz-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $turquoise), color-stop(100%, $green));
  background: -webkit-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: -o-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: -ms-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: linear-gradient(135deg, $turquoise 0%, $green 100%);
  color: white;

  .text-dark {
    color: rgba(0, 0, 0, .6);
  }
}

.bg-gradient-red {
  background: $red2;
  background: -moz-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $red3), color-stop(100%, $red2));
  background: -webkit-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: -o-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: -ms-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: linear-gradient(-45deg, $red3 0%, $red2 100%);
  color: white;
}

.bg-gradient-yellow {
  background: $yellow1;
  background: -moz-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $yellow2), color-stop(100%, $yellow1));
  background: -webkit-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: -o-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: -ms-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  color: white;
}

.bg-gradient-green {
  background: $green2;
  background: -moz-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $green3), color-stop(100%, $green2));
  background: -webkit-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: -o-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: -ms-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: linear-gradient(-45deg, $green3 0%, $green2 100%);
  color: white;
}

.bg-gradient-grey {
  background: #fdfbfb;
  background: -moz-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $grey-lighter), color-stop(100%, $grey-light));
  background: -webkit-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: -o-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: -ms-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: linear-gradient(135deg, $grey-lighter 0%, $grey-light 100%);
}

footer {
  margin-top: 0;
}
