@import "variables";

// Small devices (landscape phones, 575px and down)
@media (min-width: 575px) {
  .hidden-s {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 767px and down)
@media (min-width: 767px) {
  .hidden-m {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 991px and down)
@media (max-width: 991px) {
  .hidden-l {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1199px and down)
@media (max-width: 1199px) {
  .hidden-xl {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

#splash-img {
  background-image: url($hero-background-url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .hero-body {
    background: rgba(0, 0, 0, .55);
  }
}

.pageWrapper {
  padding-top: 60px;
}

.card {
  .content {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.2em;
  }
}

#bs_validation_card .card-image {
  background-image: url($card-bs-validation-url);
}

#csv_converter_card .card-image {
  background-image: url($card-csv-converter-url);
}

#tt_card .card-image {
  background-image: url($card-tt-url);
}

#master_thesis_card .card-image {
  background-image: url($card-thesis-url);
}

#header {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 90px;
  -webkit-transition: background 0.4s ease, height 0.4s ease;
  transition: background 0.4s ease, height 0.4s ease;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -webkit-transition: all .3s;
  transition: all .3s;

  .fab {
    padding-top: 8px;
  }

  .header-brand {
    h6 {
      color: rgba(255, 255, 255, 1);
    }
  }

  .nav-center {
    .nav-item {
      transform: translateX(-40%);

      &:hover {
        background: transparent !important;
        cursor: default;
      }
    }
  }

  #header-btn {
    &.active {
      background: transparent;
    }
  }

  .nav-item {
    a {
      color: rgba(255, 255, 255, 1);
    }

    &:hover {
      background: transparent;
    }

    span {
      background-color: transparent;
    }

    &#header-btn {
      span {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  &.header-fill {
    background-color: rgba(255, 255, 255, 1);
    height: 56px;
    box-shadow: 0 3px 15px rgba(57, 63, 72, .1);

    .header-brand {
      h6 {
        color: $text-color;
      }
    }

    .nav-item {
      a {
        color: $text-color;
      }

      span {
        background-color: transparent;
      }

      &#header-btn {
        span {
          background-color: $text-color;
        }
      }

      &:hover {
        background: rgba(50, 50, 50, .05);

        a {
          #twitter-icon {
            color: $twitter-color !important;
          }

          #github-icon,
          #medium-icon {
            color: $github-color !important;
          }

          #linkedin-icon {
            color: $linkedin-color !important;
          }

          #instagram-icon {
            color: $instagram-color !important;
          }
        }
      }

      &.no-hover {
        background: transparent;
      }
    }
  }
}

.progress-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 1px;
  background: transparent;
}

.progress-bar {
  height: 1px;
  background: $info-color;
  width: 0%;
}

.desc {
  vertical-align: bottom;
  font-size: 11px;
  margin-left: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

#signin-container {
  padding: 0;

  h6 {
    padding-left: 20px;
  }

  #background-container {
    height: 100vh;
    background: url($giraffe-background-url);
    -webkit-background-size: cover;
    background-size: cover;
  }

  .col-fluid {
    max-width: 375px;
    width: auto;
  }

  form {
    padding: 10px 20px 20px;

    label {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.sidebar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  font-size: 0.65em;
  z-index: 99 !important;

  .nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;

    ul {
      list-style: none;

      li {
        position: relative;
        margin: 3.2em 0;

        a {
          line-height: 5em;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.4em;
          color: rgba(0, 0, 0, 0.35);
          display: block;
          transition: all ease-out 300ms;
          i {
            font-size: 1.35em;
          }
        }

        &.active a {
          color: black;
        }

        &:not(.active)::after {
          opacity: 0.2;
        }

        &:not(.active):hover a {
          color: rgba(0, 0, 0, 0.75);
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.2em;
          background: black;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}

footer {
  margin-top: 0;
  background: url($footer-background-url);
  -webkit-background-size: cover;
  background-size: cover;
  
  .overlay {
    margin: -6rem 0;
    padding: 6rem 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
  }

  .divider {
    background: rgba(238, 238, 238, 0.2);
    height: 1px;
  }

  ul {
    a {
      display: block;
    }

    .list-item {
      margin: 0.1rem;
      color: #888;
      transition: all .3s;
      font-size: 75%;
      text-transform: uppercase;
    }
  }

  h6 {
    margin-bottom: 0 !important;
  }

  .fa-heart {
    margin: 0 6px;
    color: red;
  }
}

.btn-success {
  background: $success-color;
}

.bg-gradient-orange {
  background: rgb(255, 174, 39);
  background: -moz-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $orange), color-stop(100%, $red));
  background: -webkit-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: -o-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: -ms-linear-gradient(-45deg, $orange 0%, $red 100%);
  background: linear-gradient(135deg, $orange 0%, $red 100%);
  color: white;
}

.bg-gradient-rose {
  background: rgb(222, 73, 109);
  background: -moz-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $red), color-stop(100%, $purple));
  background: -webkit-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: -o-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: -ms-linear-gradient(-45deg, $red 0%, $purple 100%);
  background: linear-gradient(135deg, $red 0%, $purple 100%);
  color: white;
}

.bg-gradient-purple {
  background: rgb(171, 73, 222);
  background: -moz-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $purple), color-stop(100%, $blue));
  background: -webkit-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: -o-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: -ms-linear-gradient(-45deg, $purple 0%, $blue 100%);
  background: linear-gradient(135deg, $purple 0%, $blue 100%);
  color: white;
}

.bg-gradient-turquoise {
  background: rgb(73, 84, 222);
  background: -moz-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $blue), color-stop(100%, $turquoise));
  background: -webkit-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: -o-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: -ms-linear-gradient(-45deg, $blue 0%, $turquoise 100%);
  background: linear-gradient(135deg, $blue 0%, $turquoise 100%);
  color: white;
}

.bg-gradient-olive {
  background: rgb(73, 221, 216);
  background: -moz-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $turquoise), color-stop(100%, $green));
  background: -webkit-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: -o-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: -ms-linear-gradient(-45deg, $turquoise 0%, $green 100%);
  background: linear-gradient(135deg, $turquoise 0%, $green 100%);
  color: white;

  .text-dark {
    color: rgba(0, 0, 0, .6);
  }
}

.bg-gradient-red {
  background: $red2;
  background: -moz-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $red3), color-stop(100%, $red2));
  background: -webkit-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: -o-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: -ms-linear-gradient(-45deg, $red3 0%, $red2 100%);
  background: linear-gradient(-45deg, $red3 0%, $red2 100%);
  color: white;
}

.bg-gradient-yellow {
  background: $yellow1;
  background: -moz-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $yellow2), color-stop(100%, $yellow1));
  background: -webkit-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: -o-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: -ms-linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  background: linear-gradient(-45deg, $yellow2 0%, $yellow1 100%);
  color: white;
}

.bg-gradient-green {
  background: $green2;
  background: -moz-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $green3), color-stop(100%, $green2));
  background: -webkit-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: -o-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: -ms-linear-gradient(-45deg, $green3 0%, $green2 100%);
  background: linear-gradient(-45deg, $green3 0%, $green2 100%);
  color: white;
}

.bg-gradient-grey {
  background: #fdfbfb;
  background: -moz-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $grey-lighter), color-stop(100%, $grey-light));
  background: -webkit-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: -o-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: -ms-linear-gradient(-45deg, $grey-lighter 0%, $grey-light 100%);
  background: linear-gradient(135deg, $grey-lighter 0%, $grey-light 100%);
}

.timeline {
  position: relative;
  margin: 0 auto;

  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $comp-purple;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -10;
  }

  .tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -12px;
      background-color: $comp-complementaire;
      border: 4px solid $comp-complementaire;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
  }

  .tl-content {
    padding: 20px 30px;
    background-color: $comp-background;
    position: relative;
    border-radius: 6px;
    color: $comp-purple;

    .fas:before {
      color: $comp-complementaire;
    }

    a {
      color: $comp-purple;
      text-decoration: none;
      font-style: italic;
    }
  }

  .tl-left {
    left: 0;

    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid $comp-background;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $comp-background;
    }
  }

  .tl-right {
    left: 50%;

    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid $comp-background;
      border-width: 10px 10px 10px 0;
      border-color: transparent $comp-background transparent transparent;
    }

    &::after {
      left: -12px;
    }
  }

}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline {
    &::after {
      left: 31px;
    }

    .tl-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;

      &::before {
        left: 60px;
        border: medium solid $comp-background;
        border-width: 10px 10px 10px 0;
        border-color: transparent $comp-background transparent transparent;
      }
    }

    .tl-left::after, .tl-right::after {
      left: 15px;
    }

    .tl-right {
      left: 0%;
    }
  }
}

#skills-section {
  .box {
    border-radius: 15px;
    border-color: $comp-red;
    background: $comp-red;
    color: $comp-purple;
    text-align: center;

    h1 {
      text-align: center;
    }
  }
}

.slider {
  height: 65vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 100%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 2px #ccc, 0 0 0 2px #ccc;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider-nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}

.slider-nav:checked:nth-of-type(1) ~ .slider-container {
  left: 0%;
}

.slider-nav:checked:nth-of-type(2) ~ .slider-container {
  left: -100%;
}

.slider-nav:checked:nth-of-type(3) ~ .slider-container {
  left: -200%;
}

.slider-nav:checked:nth-of-type(4) ~ .slider-container {
  left: -300%;
}

.slider-nav:checked:nth-of-type(5) ~ .slider-container {
  left: -400%;
}

.slider-nav:checked:nth-of-type(6) ~ .slider-container {
  left: -500%;
}

.slider-nav:checked:nth-of-type(7) ~ .slider-container {
  left: -600%;
}

.slider-nav:checked:nth-of-type(8) ~ .slider-container {
  left: -700%;
}

.slider-nav:checked:nth-of-type(9) ~ .slider-container {
  left: -800%;
}

.slider-nav:checked:nth-of-type(10) ~ .slider-container {
  left: -900%;
}

.slider-nav:checked:nth-of-type(11) ~ .slider-container {
  left: -1000%;
}

.slider-nav:checked:nth-of-type(12) ~ .slider-container {
  left: -1100%;
}

.slider-nav:checked:nth-of-type(12) ~ .slider-container {
  left: -1200%;
}

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1300%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider-content {
  height: auto;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-image {
  width: auto;
  max-width: 225px;
  height: auto;
  max-height: 150px;
}

.slider-header {
  text-align: center;
}

.slider-text {
  margin-bottom: 3rem;
  max-width: 300px;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes check {
  50% {
    outline-color: $comp-red;
    box-shadow: 0 0 0 10px $comp-red, 0 0 0 18px $comp-red;
  }
  100% {
    outline-color: $comp-red;
    box-shadow: 0 0 0 2px $comp-red, 0 0 0 2px $comp-red;
  }
}

@keyframes check {
  50% {
    outline-color: $comp-red;
    box-shadow: 0 0 0 10px $comp-red, 0 0 0 18px $comp-red;
  }
  100% {
    outline-color: $comp-red;
    box-shadow: 0 0 0 2px $comp-red, 0 0 0 2px $comp-red;
  }
}
