@media (min-width: 575px) {
  .hidden-s {
    display: none; } }
@media (min-width: 767px) {
  .hidden-m {
    display: none; } }
@media (max-width: 991px) {
  .hidden-l {
    display: none; } }
@media (max-width: 1199px) {
  .hidden-xl {
    display: none; } }
#splash-img {
  background-image: url("https://images.unsplash.com/photo-1557626204-59dd03fd2d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); }
  #splash-img .hero-body {
    background: rgba(0, 0, 0, 0.55); }

.pageWrapper {
  padding-top: 60px; }

#bs_validation_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1558216629-a2f7fe856792?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80"); }

#csv_converter_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1539580310116-8e654b90d301?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad2b4ce7d88e3a65256f9535a5b81321&auto=format&fit=crop&w=800&q=80"); }

#tt_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1538792251741-1a74d2bb601e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0c6ac725e6cd81bcf357c7ff588620c&auto=format&fit=crop&w=726&q=80"); }

#header {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 90px;
  -webkit-transition: background 0.4s ease, height 0.4s ease;
  transition: background 0.4s ease, height 0.4s ease;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -webkit-transition: all .3s;
  transition: all .3s; }
  #header .fab {
    padding-top: 8px; }
  #header .header-brand h6 {
    color: white; }
  #header .nav-center .nav-item {
    transform: translateX(-50%); }
    #header .nav-center .nav-item:hover {
      background: transparent !important;
      cursor: default; }
  #header #header-btn.active {
    background: transparent; }
  #header .nav-item a {
    color: white; }
  #header .nav-item:hover {
    background: transparent; }
  #header .nav-item span {
    background-color: transparent; }
  #header .nav-item#header-btn span {
    background-color: white; }
  #header.header-fill {
    background-color: white;
    height: 56px;
    box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1); }
    #header.header-fill .header-brand h6 {
      color: #374054; }
    #header.header-fill .nav-item a {
      color: #374054; }
    #header.header-fill .nav-item span {
      background-color: transparent; }
    #header.header-fill .nav-item#header-btn span {
      background-color: #374054; }
    #header.header-fill .nav-item:hover {
      background: rgba(50, 50, 50, 0.05); }
      #header.header-fill .nav-item:hover a #twitter-icon {
        color: #1da1f2 !important; }
      #header.header-fill .nav-item:hover a #github-icon {
        color: #333 !important; }
      #header.header-fill .nav-item:hover a #linkedin-icon {
        color: #0077b5 !important; }
    #header.header-fill .nav-item.no-hover {
      background: transparent; }

.progress-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 1px;
  background: transparent; }

.progress-bar {
  height: 1px;
  background: #45aaf2;
  width: 0%; }

.desc {
  vertical-align: bottom;
  font-size: 11px;
  margin-left: 10px; }

.pt-1 {
  padding-top: 10px; }

.pt-2 {
  padding-top: 20px; }

.pt-3 {
  padding-top: 30px; }

.pt-4 {
  padding-top: 40px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-4 {
  padding-bottom: 40px; }

#signin-container {
  padding: 0; }
  #signin-container h6 {
    padding-left: 20px; }
  #signin-container #background-container {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1523805009345-7448845a9e53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c66791c2f0b07ab5dbff9d21aa37a32&auto=format&fit=crop&w=1504&q=80");
    -webkit-background-size: cover;
    background-size: cover; }
  #signin-container .col-fluid {
    max-width: 375px;
    width: auto; }
  #signin-container form {
    padding: 10px 20px 20px; }
    #signin-container form label {
      margin-left: 0;
      margin-bottom: 0; }

.sidebar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  font-size: 0.65em;
  z-index: 99 !important; }
  .sidebar .nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold; }
    .sidebar .nav ul {
      list-style: none; }
      .sidebar .nav ul li {
        position: relative;
        margin: 3.2em 0; }
        .sidebar .nav ul li a {
          line-height: 5em;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.4em;
          color: rgba(0, 0, 0, 0.35);
          display: block;
          transition: all ease-out 300ms; }
        .sidebar .nav ul li.active a {
          color: black; }
        .sidebar .nav ul li:not(.active)::after {
          opacity: 0.2; }
        .sidebar .nav ul li:not(.active):hover a {
          color: rgba(0, 0, 0, 0.75); }
        .sidebar .nav ul li::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.2em;
          background: black;
          left: 0;
          bottom: 0; }

footer {
  margin-top: 0;
  background: url("https://images.unsplash.com/photo-1508144647452-a114a567ad63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); }
  footer .overlay {
    margin: -6rem 0;
    padding: 6rem 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85); }
  footer .divider {
    background: rgba(238, 238, 238, 0.2);
    height: 1px; }
  footer ul a {
    display: block; }
  footer ul .list-item {
    margin: 0.1rem;
    color: #888;
    transition: all .3s;
    font-size: 75%;
    text-transform: uppercase; }
  footer h6 {
    margin-bottom: 0 !important; }
  footer .fa-heart {
    margin: 0 6px;
    color: red; }

.btn-success {
  background: #40b354; }

.bg-gradient-orange {
  background: #ffae27;
  background: -moz-linear-gradient(-45deg, #ffae27 0%, #de496d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffae27), color-stop(100%, #de496d));
  background: -webkit-linear-gradient(-45deg, #ffae27 0%, #de496d 100%);
  background: -o-linear-gradient(-45deg, #ffae27 0%, #de496d 100%);
  background: -ms-linear-gradient(-45deg, #ffae27 0%, #de496d 100%);
  background: linear-gradient(135deg, #ffae27 0%, #de496d 100%);
  color: white; }

.bg-gradient-rose {
  background: #de496d;
  background: -moz-linear-gradient(-45deg, #de496d 0%, #ab49de 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #de496d), color-stop(100%, #ab49de));
  background: -webkit-linear-gradient(-45deg, #de496d 0%, #ab49de 100%);
  background: -o-linear-gradient(-45deg, #de496d 0%, #ab49de 100%);
  background: -ms-linear-gradient(-45deg, #de496d 0%, #ab49de 100%);
  background: linear-gradient(135deg, #de496d 0%, #ab49de 100%);
  color: white; }

.bg-gradient-purple {
  background: #ab49de;
  background: -moz-linear-gradient(-45deg, #ab49de 0%, #4954de 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ab49de), color-stop(100%, #4954de));
  background: -webkit-linear-gradient(-45deg, #ab49de 0%, #4954de 100%);
  background: -o-linear-gradient(-45deg, #ab49de 0%, #4954de 100%);
  background: -ms-linear-gradient(-45deg, #ab49de 0%, #4954de 100%);
  background: linear-gradient(135deg, #ab49de 0%, #4954de 100%);
  color: white; }

.bg-gradient-turquoise {
  background: #4954de;
  background: -moz-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4954de), color-stop(100%, #49ddd8));
  background: -webkit-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  background: -o-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  background: -ms-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  background: linear-gradient(135deg, #4954de 0%, #49ddd8 100%);
  color: white; }

.bg-gradient-olive {
  background: #49ddd8;
  background: -moz-linear-gradient(-45deg, #49ddd8 0%, #19e273 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #49ddd8), color-stop(100%, #19e273));
  background: -webkit-linear-gradient(-45deg, #49ddd8 0%, #19e273 100%);
  background: -o-linear-gradient(-45deg, #49ddd8 0%, #19e273 100%);
  background: -ms-linear-gradient(-45deg, #49ddd8 0%, #19e273 100%);
  background: linear-gradient(135deg, #49ddd8 0%, #19e273 100%);
  color: white; }
  .bg-gradient-olive .text-dark {
    color: rgba(0, 0, 0, 0.6); }

.bg-gradient-red {
  background: #ec454f;
  background: -moz-linear-gradient(-45deg, #f44881 0%, #ec454f 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f44881), color-stop(100%, #ec454f));
  background: -webkit-linear-gradient(-45deg, #f44881 0%, #ec454f 100%);
  background: -o-linear-gradient(-45deg, #f44881 0%, #ec454f 100%);
  background: -ms-linear-gradient(-45deg, #f44881 0%, #ec454f 100%);
  background: linear-gradient(-45deg, #f44881 0%, #ec454f 100%);
  color: white; }

.bg-gradient-yellow {
  background: #ffc73c;
  background: -moz-linear-gradient(-45deg, #f19a1a 0%, #ffc73c 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f19a1a), color-stop(100%, #ffc73c));
  background: -webkit-linear-gradient(-45deg, #f19a1a 0%, #ffc73c 100%);
  background: -o-linear-gradient(-45deg, #f19a1a 0%, #ffc73c 100%);
  background: -ms-linear-gradient(-45deg, #f19a1a 0%, #ffc73c 100%);
  background: linear-gradient(-45deg, #f19a1a 0%, #ffc73c 100%);
  color: white; }

.bg-gradient-green {
  background: #1aab8b;
  background: -moz-linear-gradient(-45deg, #6edcc4 0%, #1aab8b 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6edcc4), color-stop(100%, #1aab8b));
  background: -webkit-linear-gradient(-45deg, #6edcc4 0%, #1aab8b 100%);
  background: -o-linear-gradient(-45deg, #6edcc4 0%, #1aab8b 100%);
  background: -ms-linear-gradient(-45deg, #6edcc4 0%, #1aab8b 100%);
  background: linear-gradient(-45deg, #6edcc4 0%, #1aab8b 100%);
  color: white; }

.bg-gradient-grey {
  background: #fdfbfb;
  background: -moz-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fdfbfb), color-stop(100%, #ebedee));
  background: -webkit-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: -o-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: -ms-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%); }

.timeline {
  position: relative;
  margin: 0 auto; }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #38003c;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -10; }
  .timeline .tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%; }
    .timeline .tl-container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: #00FF87;
      border: 4px solid #38003c;
      top: 15px;
      border-radius: 50%;
      z-index: 1; }
  .timeline .tl-content {
    padding: 20px 30px;
    background-color: #00FF87;
    position: relative;
    border-radius: 6px;
    color: #38003c; }
    .timeline .tl-content a {
      color: #38003c;
      text-decoration: none;
      font-style: italic; }
  .timeline .tl-left {
    left: 0; }
    .timeline .tl-left::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid #00FF87;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #00FF87; }
  .timeline .tl-right {
    left: 50%; }
    .timeline .tl-right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid #00FF87;
      border-width: 10px 10px 10px 0;
      border-color: transparent #00FF87 transparent transparent; }
    .timeline .tl-right::after {
      left: -16px; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px; }
  .timeline .tl-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
    .timeline .tl-container::before {
      left: 60px;
      border: medium solid #00FF87;
      border-width: 10px 10px 10px 0;
      border-color: transparent #00FF87 transparent transparent; }
  .timeline .tl-left::after, .timeline .tl-right::after {
    left: 15px; }
  .timeline .tl-right {
    left: 0%; } }
#skills-section .box {
  border-radius: 15px;
  border-color: #e90052;
  background: #e90052;
  color: #38003c;
  text-align: center; }
  #skills-section .box h1 {
    text-align: center; }

#check-icon {
  color: #40b354; }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes grow-left {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
.slider {
  height: 65vh;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider-nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 100%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 2px #ccc, 0 0 0 2px #e90052;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.slider-nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards; }

.slider-nav:checked:nth-of-type(1) ~ .slider-container {
  left: 0%; }

.slider-nav:checked:nth-of-type(2) ~ .slider-container {
  left: -100%; }

.slider-nav:checked:nth-of-type(3) ~ .slider-container {
  left: -200%; }

.slider-nav:checked:nth-of-type(4) ~ .slider-container {
  left: -300%; }

.slider-nav:checked:nth-of-type(5) ~ .slider-container {
  left: -400%; }

.slider-nav:checked:nth-of-type(6) ~ .slider-container {
  left: -500%; }

.slider-nav:checked:nth-of-type(7) ~ .slider-container {
  left: -600%; }

.slider-nav:checked:nth-of-type(8) ~ .slider-container {
  left: -700%; }

.slider-nav:checked:nth-of-type(9) ~ .slider-container {
  left: -800%; }

.slider-nav:checked:nth-of-type(10) ~ .slider-container {
  left: -900%; }

.slider-nav:checked:nth-of-type(11) ~ .slider-container {
  left: -1000%; }

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

.slider-content {
  height: auto;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider-image {
  width: auto;
  max-width: 225px;
  height: auto;
  max-height: 150px; }

.slider-header {
  text-align: center; }

.slider-text {
  margin-bottom: 3rem;
  max-width: 300px; }

@-webkit-keyframes check {
  50% {
    outline-color: #e90052;
    box-shadow: 0 0 0 8px #e90052, 0 0 0 24px #e90052; }
  100% {
    outline-color: #e90052;
    box-shadow: 0 0 0 0 #e90052, 0 0 0 0 #e90052; } }
@keyframes check {
  50% {
    outline-color: #e90052;
    box-shadow: 0 0 0 8px #e90052, 0 0 0 24px #e90052; }
  100% {
    outline-color: #e90052;
    box-shadow: 0 0 0 2px #e90052, 0 0 0 2px #e90052; } }

/*# sourceMappingURL=app.css.map */
