@media (min-width: 575px) {
  .hidden-s {
    display: none;
  }
}
@media (min-width: 767px) {
  .hidden-m {
    display: none;
  }
}
@media (max-width: 991px) {
  .hidden-l {
    display: none;
  }
}
@media (max-width: 1199px) {
  .hidden-xl {
    display: none;
  }
}
#splash-img {
  background-image: url("https://images.unsplash.com/photo-1508138221679-760a23a2285b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#splash-img .hero-body {
  background: rgba(0, 0, 0, 0.55);
}

.pageWrapper {
  padding-top: 60px;
}

.card .content {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.2em;
}

#bs_validation_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1565718164453-cc732b84df9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
}

#csv_converter_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1539580310116-8e654b90d301?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad2b4ce7d88e3a65256f9535a5b81321&auto=format&fit=crop&w=800&q=80");
}

#tt_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1538792251741-1a74d2bb601e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0c6ac725e6cd81bcf357c7ff588620c&auto=format&fit=crop&w=726&q=80");
}

#master_thesis_card .card-image {
  background-image: url("https://images.unsplash.com/photo-1499702111052-d63bd11c766a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
}

#header {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 90px;
  -webkit-transition: background 0.4s ease, height 0.4s ease;
  transition: background 0.4s ease, height 0.4s ease;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header .fab {
  padding-top: 8px;
}
#header .header-brand h6 {
  color: rgb(255, 255, 255);
}
#header .nav-center .nav-item {
  transform: translateX(-40%);
}
#header .nav-center .nav-item:hover {
  background: transparent !important;
  cursor: default;
}
#header #header-btn.active {
  background: transparent;
}
#header .nav-item a {
  color: rgb(255, 255, 255);
}
#header .nav-item:hover {
  background: transparent;
}
#header .nav-item span {
  background-color: transparent;
}
#header .nav-item#header-btn span {
  background-color: rgb(255, 255, 255);
}
#header.header-fill {
  background-color: rgb(255, 255, 255);
  height: 56px;
  box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1);
}
#header.header-fill .header-brand h6 {
  color: #374054;
}
#header.header-fill .nav-item a {
  color: #374054;
}
#header.header-fill .nav-item span {
  background-color: transparent;
}
#header.header-fill .nav-item#header-btn span {
  background-color: #374054;
}
#header.header-fill .nav-item:hover {
  background: rgba(50, 50, 50, 0.05);
}
#header.header-fill .nav-item:hover a #twitter-icon {
  color: #1da1f2 !important;
}
#header.header-fill .nav-item:hover a #github-icon,
#header.header-fill .nav-item:hover a #medium-icon {
  color: #333 !important;
}
#header.header-fill .nav-item:hover a #linkedin-icon {
  color: #0077b5 !important;
}
#header.header-fill .nav-item:hover a #instagram-icon {
  color: #e1306c !important;
}
#header.header-fill .nav-item.no-hover {
  background: transparent;
}

.progress-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 1px;
  background: transparent;
}

.progress-bar {
  height: 1px;
  background: rgb(69, 170, 242);
  width: 0%;
}

.desc {
  vertical-align: bottom;
  font-size: 11px;
  margin-left: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

#signin-container {
  padding: 0;
}
#signin-container h6 {
  padding-left: 20px;
}
#signin-container #background-container {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1523805009345-7448845a9e53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c66791c2f0b07ab5dbff9d21aa37a32&auto=format&fit=crop&w=1504&q=80");
  -webkit-background-size: cover;
  background-size: cover;
}
#signin-container .col-fluid {
  max-width: 375px;
  width: auto;
}
#signin-container form {
  padding: 10px 20px 20px;
}
#signin-container form label {
  margin-left: 0;
  margin-bottom: 0;
}

.sidebar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  font-size: 0.65em;
  z-index: 99 !important;
}
.sidebar .nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.sidebar .nav ul {
  list-style: none;
}
.sidebar .nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.sidebar .nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(0, 0, 0, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.sidebar .nav ul li a i {
  font-size: 1.35em;
}
.sidebar .nav ul li.active a {
  color: black;
}
.sidebar .nav ul li:not(.active)::after {
  opacity: 0.2;
}
.sidebar .nav ul li:not(.active):hover a {
  color: rgba(0, 0, 0, 0.75);
}
.sidebar .nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
}

footer {
  margin-top: 0;
  background: url("https://images.unsplash.com/photo-1508144647452-a114a567ad63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  -webkit-background-size: cover;
  background-size: cover;
}
footer .overlay {
  margin: -6rem 0;
  padding: 6rem 0;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}
footer .divider {
  background: rgba(238, 238, 238, 0.2);
  height: 1px;
}
footer ul a {
  display: block;
}
footer ul .list-item {
  margin: 0.1rem;
  color: #888;
  transition: all 0.3s;
  font-size: 75%;
  text-transform: uppercase;
}
footer h6 {
  margin-bottom: 0 !important;
}
footer .fa-heart {
  margin: 0 6px;
  color: red;
}

.btn-success {
  background: rgb(64, 179, 84);
}

.bg-gradient-orange {
  background: rgb(255, 174, 39);
  background: -moz-linear-gradient(-45deg, rgb(255, 174, 39) 0%, rgb(222, 73, 109) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(255, 174, 39)), color-stop(100%, rgb(222, 73, 109)));
  background: -webkit-linear-gradient(-45deg, rgb(255, 174, 39) 0%, rgb(222, 73, 109) 100%);
  background: -o-linear-gradient(-45deg, rgb(255, 174, 39) 0%, rgb(222, 73, 109) 100%);
  background: -ms-linear-gradient(-45deg, rgb(255, 174, 39) 0%, rgb(222, 73, 109) 100%);
  background: linear-gradient(135deg, rgb(255, 174, 39) 0%, rgb(222, 73, 109) 100%);
  color: white;
}

.bg-gradient-rose {
  background: rgb(222, 73, 109);
  background: -moz-linear-gradient(-45deg, rgb(222, 73, 109) 0%, rgb(171, 73, 222) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(222, 73, 109)), color-stop(100%, rgb(171, 73, 222)));
  background: -webkit-linear-gradient(-45deg, rgb(222, 73, 109) 0%, rgb(171, 73, 222) 100%);
  background: -o-linear-gradient(-45deg, rgb(222, 73, 109) 0%, rgb(171, 73, 222) 100%);
  background: -ms-linear-gradient(-45deg, rgb(222, 73, 109) 0%, rgb(171, 73, 222) 100%);
  background: linear-gradient(135deg, rgb(222, 73, 109) 0%, rgb(171, 73, 222) 100%);
  color: white;
}

.bg-gradient-purple {
  background: rgb(171, 73, 222);
  background: -moz-linear-gradient(-45deg, rgb(171, 73, 222) 0%, rgb(73, 84, 222) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(171, 73, 222)), color-stop(100%, rgb(73, 84, 222)));
  background: -webkit-linear-gradient(-45deg, rgb(171, 73, 222) 0%, rgb(73, 84, 222) 100%);
  background: -o-linear-gradient(-45deg, rgb(171, 73, 222) 0%, rgb(73, 84, 222) 100%);
  background: -ms-linear-gradient(-45deg, rgb(171, 73, 222) 0%, rgb(73, 84, 222) 100%);
  background: linear-gradient(135deg, rgb(171, 73, 222) 0%, rgb(73, 84, 222) 100%);
  color: white;
}

.bg-gradient-turquoise {
  background: rgb(73, 84, 222);
  background: -moz-linear-gradient(-45deg, rgb(73, 84, 222) 0%, rgb(73, 221, 216) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(73, 84, 222)), color-stop(100%, rgb(73, 221, 216)));
  background: -webkit-linear-gradient(-45deg, rgb(73, 84, 222) 0%, rgb(73, 221, 216) 100%);
  background: -o-linear-gradient(-45deg, rgb(73, 84, 222) 0%, rgb(73, 221, 216) 100%);
  background: -ms-linear-gradient(-45deg, rgb(73, 84, 222) 0%, rgb(73, 221, 216) 100%);
  background: linear-gradient(135deg, rgb(73, 84, 222) 0%, rgb(73, 221, 216) 100%);
  color: white;
}

.bg-gradient-olive {
  background: rgb(73, 221, 216);
  background: -moz-linear-gradient(-45deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(73, 221, 216)), color-stop(100%, rgb(25, 226, 115)));
  background: -webkit-linear-gradient(-45deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
  background: -o-linear-gradient(-45deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
  background: -ms-linear-gradient(-45deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
  background: linear-gradient(135deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
  color: white;
}
.bg-gradient-olive .text-dark {
  color: rgba(0, 0, 0, 0.6);
}

.bg-gradient-red {
  background: rgb(236, 69, 79);
  background: -moz-linear-gradient(-45deg, rgb(244, 72, 129) 0%, rgb(236, 69, 79) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(244, 72, 129)), color-stop(100%, rgb(236, 69, 79)));
  background: -webkit-linear-gradient(-45deg, rgb(244, 72, 129) 0%, rgb(236, 69, 79) 100%);
  background: -o-linear-gradient(-45deg, rgb(244, 72, 129) 0%, rgb(236, 69, 79) 100%);
  background: -ms-linear-gradient(-45deg, rgb(244, 72, 129) 0%, rgb(236, 69, 79) 100%);
  background: linear-gradient(-45deg, rgb(244, 72, 129) 0%, rgb(236, 69, 79) 100%);
  color: white;
}

.bg-gradient-yellow {
  background: rgb(255, 199, 60);
  background: -moz-linear-gradient(-45deg, rgb(241, 154, 26) 0%, rgb(255, 199, 60) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(241, 154, 26)), color-stop(100%, rgb(255, 199, 60)));
  background: -webkit-linear-gradient(-45deg, rgb(241, 154, 26) 0%, rgb(255, 199, 60) 100%);
  background: -o-linear-gradient(-45deg, rgb(241, 154, 26) 0%, rgb(255, 199, 60) 100%);
  background: -ms-linear-gradient(-45deg, rgb(241, 154, 26) 0%, rgb(255, 199, 60) 100%);
  background: linear-gradient(-45deg, rgb(241, 154, 26) 0%, rgb(255, 199, 60) 100%);
  color: white;
}

.bg-gradient-green {
  background: rgb(26, 171, 139);
  background: -moz-linear-gradient(-45deg, rgb(110, 220, 196) 0%, rgb(26, 171, 139) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(110, 220, 196)), color-stop(100%, rgb(26, 171, 139)));
  background: -webkit-linear-gradient(-45deg, rgb(110, 220, 196) 0%, rgb(26, 171, 139) 100%);
  background: -o-linear-gradient(-45deg, rgb(110, 220, 196) 0%, rgb(26, 171, 139) 100%);
  background: -ms-linear-gradient(-45deg, rgb(110, 220, 196) 0%, rgb(26, 171, 139) 100%);
  background: linear-gradient(-45deg, rgb(110, 220, 196) 0%, rgb(26, 171, 139) 100%);
  color: white;
}

.bg-gradient-grey {
  background: #fdfbfb;
  background: -moz-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fdfbfb), color-stop(100%, #ebedee));
  background: -webkit-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: -o-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: -ms-linear-gradient(-45deg, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
}

.timeline {
  position: relative;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #ecf0f1;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -10;
}
.timeline .tl-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timeline .tl-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #e0cd47;
  border: 4px solid #e0cd47;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.timeline .tl-content {
  padding: 20px 30px;
  background-color: #092a3c;
  position: relative;
  border-radius: 6px;
  color: #ecf0f1;
}
.timeline .tl-content .fas:before {
  color: #e0cd47;
}
.timeline .tl-content a {
  color: #ecf0f1;
  text-decoration: none;
  font-style: italic;
}
.timeline .tl-left {
  left: 0;
}
.timeline .tl-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #092a3c;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #092a3c;
}
.timeline .tl-right {
  left: 50%;
}
.timeline .tl-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #092a3c;
  border-width: 10px 10px 10px 0;
  border-color: transparent #092a3c transparent transparent;
}
.timeline .tl-right::after {
  left: -16px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  .timeline .tl-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline .tl-container::before {
    left: 60px;
    border: medium solid #092a3c;
    border-width: 10px 10px 10px 0;
    border-color: transparent #092a3c transparent transparent;
  }
  .timeline .tl-left::after, .timeline .tl-right::after {
    left: 15px;
  }
  .timeline .tl-right {
    left: 0%;
  }
}
#skills-section .box {
  border-radius: 15px;
  border-color: #e90052;
  background: #e90052;
  color: #ecf0f1;
  text-align: center;
}
#skills-section .box h1 {
  text-align: center;
}

.slider {
  height: 65vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 100%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 2px #ccc, 0 0 0 2px #ccc;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider-nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}

.slider-nav:checked:nth-of-type(1) ~ .slider-container {
  left: 0%;
}

.slider-nav:checked:nth-of-type(2) ~ .slider-container {
  left: -100%;
}

.slider-nav:checked:nth-of-type(3) ~ .slider-container {
  left: -200%;
}

.slider-nav:checked:nth-of-type(4) ~ .slider-container {
  left: -300%;
}

.slider-nav:checked:nth-of-type(5) ~ .slider-container {
  left: -400%;
}

.slider-nav:checked:nth-of-type(6) ~ .slider-container {
  left: -500%;
}

.slider-nav:checked:nth-of-type(7) ~ .slider-container {
  left: -600%;
}

.slider-nav:checked:nth-of-type(8) ~ .slider-container {
  left: -700%;
}

.slider-nav:checked:nth-of-type(9) ~ .slider-container {
  left: -800%;
}

.slider-nav:checked:nth-of-type(10) ~ .slider-container {
  left: -900%;
}

.slider-nav:checked:nth-of-type(11) ~ .slider-container {
  left: -1000%;
}

.slider-nav:checked:nth-of-type(12) ~ .slider-container {
  left: -1100%;
}

.slider-nav:checked:nth-of-type(12) ~ .slider-container {
  left: -1200%;
}

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1300%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider-content {
  height: auto;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-image {
  width: auto;
  max-width: 225px;
  height: auto;
  max-height: 150px;
}

.slider-header {
  text-align: center;
}

.slider-text {
  margin-bottom: 3rem;
  max-width: 300px;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-webkit-keyframes check {
  50% {
    outline-color: #e90052;
    box-shadow: 0 0 0 10px #e90052, 0 0 0 18px #e90052;
  }
  100% {
    outline-color: #e90052;
    box-shadow: 0 0 0 2px #e90052, 0 0 0 2px #e90052;
  }
}
@keyframes check {
  50% {
    outline-color: #e90052;
    box-shadow: 0 0 0 10px #e90052, 0 0 0 18px #e90052;
  }
  100% {
    outline-color: #e90052;
    box-shadow: 0 0 0 2px #e90052, 0 0 0 2px #e90052;
  }
}

/*# sourceMappingURL=app.css.map */
